APP_ENV=
APP_PORT=
APP_DEBUG=
APP_NAME=
APP_TIMEZONE=

DB_HOST=pgsql
DB_PORT=5432
DB_DATABASE=streamer_db
DB_USERNAME=
DB_PASSWORD=
DB_SSLMODE=

REDIS_HOST=redis
REDIS_PASSWORD=
REDIS_PORT=6379
REDIS_DB_GENERAL=0
REDIS_DB_STREAM_RAW=1
REDIS_DB_STREAM_IRT=2
REDIS_DB_LIMITER=3

SOCKET_CHUNK_SIZE=
SOCKET_TOPICS_HTX=
SOCKET_TOPICS_IRT=